name: unittest

on:
  push:
    branches-ignore: [ master ]

jobs:
  unittest:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js "16.x"
        uses: actions/setup-node@v2
        with:
          node-version: "16.x"
          cache: 'npm'
      - run: npm ci
      - run: npm run build
      - run: npm test -- --coverage --watchAll=false
      - name: Test & publish code coverage
        uses: paambaati/codeclimate-action@v3.0.0
        env:
          CC_TEST_REPORTER_ID: ${{ secrets.CC_TEST_REPORTER_ID }}
        coverageLocations: ${{github.workspace}}/coverage/lcov.info:lcov